node-red.txt
[{"id":"5f0066e9.096848","type":"tab","label":"smart home","disabled":false,"info":""},{"id":"ded3f345.0809","type":"json","z":"5f0066e9.096848","name":"","pretty":true,"x":551.0000610351562,"y":239.99998474121094,"wires":[["a891c859.3bf2f8","8287661b.6f4358"]]},{"id":"9ef124e9.a72298","type":"function","z":"5f0066e9.096848","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":366.00006103515625,"y":227.99998474121094,"wires":[["ded3f345.0809"]]},{"id":"627e1245.574d9c","type":"mqtt out","z":"5f0066e9.096848","name":"bouj.khirou@gmail.com/rooms/temperature","topic":"bouj.khirou@gmail.com/rooms/temperature","qos":"2","retain":"","broker":"503eba71.19cac4","x":1073,"y":109.00003051757812,"wires":[]},{"id":"e69dda34.3e87a8","type":"inject","z":"5f0066e9.096848","name":"","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":true,"onceDelay":"","x":154.0000457763672,"y":223.99998474121094,"wires":[["9ef124e9.a72298"]]},{"id":"a891c859.3bf2f8","type":"change","z":"5f0066e9.096848","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.tmp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":712.6666870117188,"y":176.66665649414062,"wires":[["627e1245.574d9c","c9885694.b4e1f8"]]},{"id":"276e0cd3.9d0514","type":"mqtt out","z":"5f0066e9.096848","name":"bouj.khirou@gmail.com/rooms/temperature","topic":"bouj.khirou@gmail.com/rooms/humidéte","qos":"2","retain":"","broker":"503eba71.19cac4","x":1053.6666259765625,"y":243.66671752929688,"wires":[]},{"id":"8287661b.6f4358","type":"change","z":"5f0066e9.096848","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hum","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":755.6666870117188,"y":233.66665649414062,"wires":[["276e0cd3.9d0514"]]},{"id":"f41c228f.6588b","type":"inject","z":"5f0066e9.096848","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":true,"x":98.00005340576172,"y":2087.333336830139,"wires":[["7dcb9c5e.745574"]]},{"id":"c9885694.b4e1f8","type":"function","z":"5f0066e9.096848","name":"VAR temp","func":"global.set(\"temp\",msg.payload)","outputs":"1","noerr":0,"x":952.833740234375,"y":175.33334350585938,"wires":[[]]},{"id":"57eae281.18aeac","type":"function","z":"5f0066e9.096848","name":"VAR lumb","func":"global.set(\"lumb\",msg.payload)","outputs":"1","noerr":0,"x":329.0009574890137,"y":2888.667109489441,"wires":[[]]},{"id":"cdc592a7.810d9","type":"function","z":"5f0066e9.096848","name":"descision","func":"\nvar lum1 =  global.get(\"lum\");\nvar lumb1 =  global.get(\"lumb\");\n\nif (lumb1 ===\"1\") \n{\n  if (lum1 < 25) {global.set(\"result3\",\"1\");}\n  else if (lum1 >= 25 ) {global.set(\"result3\",\"2\");}\n}\nelse {\nglobal.set(\"result3\",\"3\");\n}\n\nvar result3 = { payload: global.get(\"result3\") };\n\nreturn result3;\n\n\n\n\n","outputs":"1","noerr":0,"x":272.16705322265625,"y":2994.3337812423706,"wires":[["e4d1aafe.185e48"]]},{"id":"e4d1aafe.185e48","type":"switch","z":"5f0066e9.096848","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","outputs":3,"x":467.33324432373047,"y":2992.6667833328247,"wires":[["f4ca9dbb.c898"],["fb7c57d6.d354e8"],[]]},{"id":"f4ca9dbb.c898","type":"change","z":"5f0066e9.096848","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":668.5005340576172,"y":2948.3344221115112,"wires":[[]]},{"id":"fb7c57d6.d354e8","type":"change","z":"5f0066e9.096848","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":669.3341903686523,"y":3008.667109489441,"wires":[[]]},{"id":"56f4fcb3.2d6d74","type":"inject","z":"5f0066e9.096848","name":"","topic":"","payload":"","payloadType":"date","repeat":"8","crontab":"","once":true,"x":86.66676330566406,"y":2995.3337812423706,"wires":[["cdc592a7.810d9"]]},{"id":"c07816dc.215eb8","type":"function","z":"5f0066e9.096848","name":"VAR doorb","func":"global.set(\"doorb\",msg.payload)","outputs":"1","noerr":0,"x":328.0000534057617,"y":1894.6666917800903,"wires":[[]]},{"id":"bbd3be5b.026ac","type":"function","z":"5f0066e9.096848","name":"descision","func":"var door1 =  global.get(\"door\");\nvar doorb1 =  global.get(\"doorb\");\n\nif (doorb1 ===\"1\") \n{\n  if (door1===\"1\") {global.set(\"result5\",\"1\");}\n  else {global.set(\"result5\",\"2\");}\n}\nelse {\nglobal.set(\"result5\",\"2\");\n}\n\nvar result5 = { payload: global.get(\"result5\") };\n\nreturn result5;\n\n\n\n\n","outputs":"1","noerr":0,"x":311.00006103515625,"y":2001.0003118515015,"wires":[["4f8a811d.f1251"]]},{"id":"7af90803.2a41e8","type":"function","z":"5f0066e9.096848","name":"VAR door","func":"global.set(\"door\",msg.payload)","outputs":"1","noerr":0,"x":891.0003128051758,"y":2091.3333978652954,"wires":[[]]},{"id":"4f8a811d.f1251","type":"switch","z":"5f0066e9.096848","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","outputs":2,"x":482.00022888183594,"y":2000.6668157577515,"wires":[[],[]]},{"id":"1cb82454.7ab79c","type":"inject","z":"5f0066e9.096848","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":true,"x":97.99996948242188,"y":2000.6668176651,"wires":[["bbd3be5b.026ac"]]},{"id":"7dcb9c5e.745574","type":"switch","z":"5f0066e9.096848","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":476.00022888183594,"y":2074.0002088546753,"wires":[["5f30f67d.27cca8"],["ac95591d.2faf48"]]},{"id":"5f30f67d.27cca8","type":"change","z":"5f0066e9.096848","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":683.1666870117188,"y":2069.666708946228,"wires":[["7af90803.2a41e8"]]},{"id":"ac95591d.2faf48","type":"change","z":"5f0066e9.096848","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":681.0000152587891,"y":2123.6665897369385,"wires":[["7af90803.2a41e8"]]},{"id":"5df0075d.4db378","type":"inject","z":"5f0066e9.096848","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":true,"x":94.00001525878906,"y":2434.667000770569,"wires":[["24bb0265.59ad2e"]]},{"id":"c1da0a20.8e38a8","type":"function","z":"5f0066e9.096848","name":"VAR detb","func":"global.set(\"detb\",msg.payload)","outputs":"1","noerr":0,"x":348.99996185302734,"y":2236.0000925064087,"wires":[[]]},{"id":"940883b4.0d7ee","type":"function","z":"5f0066e9.096848","name":"descision","func":"var det1 =  global.get(\"det\");\nvar detb1 =  global.get(\"detb\");\n\nif (detb1 ===\"1\") \n{\n  if (det1===\"1\") {global.set(\"result6\",\"1\");}\n  else {global.set(\"result6\",\"2\");}\n}\nelse {\nglobal.set(\"result6\",\"2\");\n}\n\nvar result5 = { payload: global.get(\"result6\") };\n\nreturn result5;\n\n\n\n\n","outputs":"1","noerr":0,"x":316.9999313354492,"y":2329.333351135254,"wires":[["53a6d50d.a07dfc"]]},{"id":"41d42e28.cb46b","type":"function","z":"5f0066e9.096848","name":"VAR mov","func":"global.set(\"det\",msg.payload)","outputs":"1","noerr":0,"x":887.0002555847168,"y":2415.666964530945,"wires":[[]]},{"id":"53a6d50d.a07dfc","type":"switch","z":"5f0066e9.096848","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","outputs":2,"x":481.99998474121094,"y":2328.0001611709595,"wires":[[],[]]},{"id":"e44835ec.914788","type":"inject","z":"5f0066e9.096848","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":true,"x":96.9999008178711,"y":2330.000160217285,"wires":[["940883b4.0d7ee"]]},{"id":"24bb0265.59ad2e","type":"switch","z":"5f0066e9.096848","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":486.00019454956055,"y":2421.3338346481323,"wires":[["7f6a421c.537b1c"],["f13f8155.ec9a3"]]},{"id":"7f6a421c.537b1c","type":"change","z":"5f0066e9.096848","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":679.1667709350586,"y":2393.000458717346,"wires":[["41d42e28.cb46b"]]},{"id":"f13f8155.ec9a3","type":"change","z":"5f0066e9.096848","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":674.0000915527344,"y":2448.0005226135254,"wires":[["41d42e28.cb46b"]]},{"id":"bdf6c3.4bb8894","type":"mqtt in","z":"5f0066e9.096848","name":"","topic":"hatem/alarm/door","qos":"2","broker":"503eba71.19cac4","x":84.76589965820312,"y":1892.6667528152466,"wires":[["c07816dc.215eb8"]]},{"id":"7ad3c3d6.192e7c","type":"mqtt in","z":"5f0066e9.096848","name":"","topic":"hatem/chambre/autolum","qos":"2","broker":"503eba71.19cac4","x":106.76592254638672,"y":2886.667218208313,"wires":[["57eae281.18aeac"]]},{"id":"a7b445bc.0ce6b8","type":"mqtt in","z":"5f0066e9.096848","name":"","topic":"hatem/alarm/motion","qos":"0","broker":"503eba71.19cac4","x":97.785400390625,"y":2237.2538080215454,"wires":[["c1da0a20.8e38a8"]]},{"id":"c175859f.07fe68","type":"mqtt in","z":"5f0066e9.096848","name":"","topic":"hatem/salon/lumiere","qos":"2","broker":"503eba71.19cac4","x":1554.7658615112305,"y":235.9998960494995,"wires":[[]]},{"id":"8c737904.d1dd18","type":"inject","z":"5f0066e9.096848","name":"","topic":"","payload":"","payloadType":"date","repeat":"8","crontab":"","once":true,"x":87.76586151123047,"y":2774.0007123947144,"wires":[["412ba219.d5f41c"]]},{"id":"77cc6ea4.b7197","type":"mqtt in","z":"5f0066e9.096848","name":"","topic":"hatem/salon/autolum","qos":"2","broker":"503eba71.19cac4","x":95.86530303955078,"y":2670.333710670471,"wires":[["3a6c6584.6bb35a"]]},{"id":"3a6c6584.6bb35a","type":"function","z":"5f0066e9.096848","name":"VAR lumb2","func":"global.set(\"lumb2\",msg.payload)","outputs":"1","noerr":0,"x":345.1000289916992,"y":2669.3335485458374,"wires":[[]]},{"id":"412ba219.d5f41c","type":"function","z":"5f0066e9.096848","name":"descision","func":"\nvar lum1 =  global.get(\"lum\");\nvar lumb1 =  global.get(\"lumb2\");\n\nif (lumb1 ===\"1\") \n{\n  if (lum1 < 25) {global.set(\"result3\",\"1\");}\n  else if (lum1 >= 25 ) {global.set(\"result3\",\"2\");}\n}\nelse {\nglobal.set(\"result3\",\"3\");\n}\n\nvar result3 = { payload: global.get(\"result3\") };\n\nreturn result3;\n\n\n\n\n","outputs":"1","noerr":0,"x":281.2662048339844,"y":2768.000705718994,"wires":[["6e4b042a.abb0fc"]]},{"id":"6e4b042a.abb0fc","type":"switch","z":"5f0066e9.096848","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","outputs":3,"x":445.4323959350586,"y":2767.3333864212036,"wires":[["48b806d0.68b698"],["e6f0fb80.20e318"],[]]},{"id":"48b806d0.68b698","type":"change","z":"5f0066e9.096848","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":669.599723815918,"y":2726.0005407333374,"wires":[[]]},{"id":"e6f0fb80.20e318","type":"change","z":"5f0066e9.096848","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":668.4333877563477,"y":2790.333550453186,"wires":[[]]},{"id":"d82cbcec.f000b","type":"function","z":"5f0066e9.096848","name":"descision","func":"\nvar temp1 =  global.get(\"temp\");\nvar funb1 =  global.get(\"funb2\");\n\nif (funb1 ===\"1\") \n{\n  if (temp1 > 20) {global.set(\"result2\",\"1\");}\n  else if (funb1 <= 20 ) {global.set(\"result2\",\"2\");}\n}\nelse {\nglobal.set(\"result2\",\"3\");\n}\n\nvar result2 = { payload: global.get(\"result2\") };\n\nreturn result2;\n\n\n\n\n","outputs":"1","noerr":0,"x":360.1654968261719,"y":1179.6669549942017,"wires":[["90b9dccf.bd912"]]},{"id":"2f323e24.ad99e2","type":"function","z":"5f0066e9.096848","name":"VAR funb","func":"global.set(\"funb2\",msg.payload)","outputs":"1","noerr":0,"x":478.999755859375,"y":1096.000244140625,"wires":[[]]},{"id":"90b9dccf.bd912","type":"switch","z":"5f0066e9.096848","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","outputs":3,"x":530.3317832946777,"y":1180.0000829696655,"wires":[[],[],[]]},{"id":"906fc660.3886d8","type":"inject","z":"5f0066e9.096848","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"x":94.43103790283203,"y":1196.0001440048218,"wires":[["d82cbcec.f000b"]]},{"id":"93c6cb26.8ddd28","type":"mqtt in","z":"5f0066e9.096848","name":"","topic":"bouj.khirou@gmail.com/otherRoom/locclim","qos":"2","broker":"503eba71.19cac4","x":167.5977783203125,"y":1114.3333044052124,"wires":[["d82cbcec.f000b","2f323e24.ad99e2"]]},{"id":"1d15ef74.f80b21","type":"json","z":"5f0066e9.096848","name":"","pretty":true,"x":502.765869140625,"y":433.9999084472656,"wires":[["a03cc22e.b80db","52e24dc9.f867e4"]]},{"id":"cf7dc6dd.d45858","type":"function","z":"5f0066e9.096848","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":411.7658996582031,"y":352.9999084472656,"wires":[["1d15ef74.f80b21"]]},{"id":"eca1a87d.a72ff8","type":"mqtt out","z":"5f0066e9.096848","name":"bouj.khirou@gmail.com/otherRoom/temperature","topic":"bouj.khirou@gmail.com/otherRoom/temperature","qos":"2","retain":"","broker":"503eba71.19cac4","x":1044.7659912109375,"y":313.99993896484375,"wires":[]},{"id":"5bb114f1.7f25ec","type":"inject","z":"5f0066e9.096848","name":"","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":true,"x":251.7658920288086,"y":488.9999084472656,"wires":[["cf7dc6dd.d45858"]]},{"id":"a03cc22e.b80db","type":"change","z":"5f0066e9.096848","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.tmp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":676.4324951171875,"y":361.66656494140625,"wires":[["eca1a87d.a72ff8","17fcfaa7.b3ccd5"]]},{"id":"167b71dc.d73a5e","type":"mqtt out","z":"5f0066e9.096848","name":"bouj.khirou@gmail.com/otherRoom/humidéte","topic":"bouj.khirou@gmail.com/otherRoom/temperature","qos":"2","retain":"","broker":"503eba71.19cac4","x":1101.4324951171875,"y":454.6666259765625,"wires":[]},{"id":"52e24dc9.f867e4","type":"change","z":"5f0066e9.096848","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hum","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":708.4324951171875,"y":446.66656494140625,"wires":[["167b71dc.d73a5e"]]},{"id":"17fcfaa7.b3ccd5","type":"function","z":"5f0066e9.096848","name":"VAR temp2","func":"global.set(\"temp2\",msg.payload)","outputs":"1","noerr":0,"x":929.09912109375,"y":372.99993896484375,"wires":[[]]},{"id":"ccf1c3d5.53af6","type":"function","z":"5f0066e9.096848","name":"descision","func":"\nvar temp1 =  global.get(\"temp2\");\nvar funb1 =  global.get(\"funb\");\n\nif (funb1 ===\"1\") \n{\n  if (temp1 > 20) {global.set(\"result2\",\"1\");}\n  else if (funb1 <= 20 ) {global.set(\"result2\",\"2\");}\n}\nelse {\nglobal.set(\"result2\",\"3\");\n}\n\nvar result2 = { payload: global.get(\"result2\") };\n\nreturn result2;\n\n\n\n\n","outputs":"1","noerr":0,"x":343.50029373168945,"y":960.9161586761475,"wires":[["9d99177a.444438"]]},{"id":"ed982a8e.6e8478","type":"function","z":"5f0066e9.096848","name":"VAR funb","func":"global.set(\"funb\",msg.payload)","outputs":"1","noerr":0,"x":341.3343162536621,"y":892.2493162155151,"wires":[[]]},{"id":"9d99177a.444438","type":"switch","z":"5f0066e9.096848","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","outputs":3,"x":512.6666831970215,"y":961.2492074966431,"wires":[[],[],[]]},{"id":"9a29f3d4.b7c21","type":"inject","z":"5f0066e9.096848","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"x":91.7658920288086,"y":995.2492923736572,"wires":[["ccf1c3d5.53af6"]]},{"id":"aeea1553.06f9e8","type":"mqtt in","z":"5f0066e9.096848","name":"","topic":"bouj.khirou@gmail.com/rooms/locclim","qos":"2","broker":"503eba71.19cac4","x":165,"y":889.5824584960938,"wires":[["ccf1c3d5.53af6","ed982a8e.6e8478"]]},{"id":"915fc94b.a70b38","type":"comment","z":"5f0066e9.096848","name":"Mesurer Température , Humidité et luminosité","info":"","x":165.9325942993164,"y":160.66662406921387,"wires":[]},{"id":"7cd80487.5eb6bc","type":"comment","z":"5f0066e9.096848","name":"Climatisation localisation","info":"","x":107.76586151123047,"y":828.6665468215942,"wires":[]},{"id":"7f5fcd26.318c94","type":"mqtt in","z":"5f0066e9.096848","name":"","topic":"hatem/chambre/climatiseur","qos":"2","broker":"503eba71.19cac4","x":107.78929138183594,"y":1397.0388708114624,"wires":[["afc91f58.ede52"]]},{"id":"afc91f58.ede52","type":"switch","z":"5f0066e9.096848","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":359.7891616821289,"y":1395.705340385437,"wires":[["1221ff86.5c693"],["a831182c.0b1ae8"]]},{"id":"1221ff86.5c693","type":"change","z":"5f0066e9.096848","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":546.9559783935547,"y":1374.3719644546509,"wires":[[]]},{"id":"a831182c.0b1ae8","type":"change","z":"5f0066e9.096848","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":543.7889556884766,"y":1437.3717222213745,"wires":[[]]},{"id":"38cb2267.98146e","type":"comment","z":"5f0066e9.096848","name":"Activation/Désactivation Climatisation ","info":"","x":145.78929138183594,"y":1325.0388708114624,"wires":[]},{"id":"1ee154c6.6e686b","type":"mqtt in","z":"5f0066e9.096848","name":"","topic":"hatem/salon/climatiseur","qos":"2","broker":"503eba71.19cac4","x":107.765869140625,"y":1611.955153465271,"wires":[["3a800622.7f867a"]]},{"id":"3a800622.7f867a","type":"switch","z":"5f0066e9.096848","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":349.7656936645508,"y":1609.6214456558228,"wires":[["bd15d133.2c0e"],["625541cc.1f553"]]},{"id":"bd15d133.2c0e","type":"change","z":"5f0066e9.096848","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":549.932373046875,"y":1566.2881593704224,"wires":[[]]},{"id":"625541cc.1f553","type":"change","z":"5f0066e9.096848","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":543.7653732299805,"y":1636.2878684997559,"wires":[[]]},{"id":"39b703ce.b6420c","type":"comment","z":"5f0066e9.096848","name":"Activation/Désactivation Alarme","info":"","x":119.78929138183594,"y":1769.0388097763062,"wires":[]},{"id":"65b3587d.3cbba8","type":"range","z":"5f0066e9.096848","minin":"0","maxin":"4000","minout":"100","maxout":"0","action":"clamp","round":true,"name":"","x":908.2659912109375,"y":546.6222534179688,"wires":[["b8e960fd.69d95"]]},{"id":"c94cff2a.c7c8","type":"change","z":"5f0066e9.096848","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.lum","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":736.2658081054688,"y":692.9554443359375,"wires":[["65b3587d.3cbba8"]]},{"id":"220dd51e.c23a2a","type":"json","z":"5f0066e9.096848","name":"","pretty":false,"x":591.7658081054688,"y":539.03857421875,"wires":[["c94cff2a.c7c8"]]},{"id":"dd742c6c.8d73b","type":"function","z":"5f0066e9.096848","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":306.7659606933594,"y":587.0386352539062,"wires":[["220dd51e.c23a2a"]]},{"id":"86381fcc.bfdb8","type":"inject","z":"5f0066e9.096848","name":"","topic":"","payload":"","payloadType":"date","repeat":"8","crontab":"","once":true,"x":146.76586151123047,"y":683.0386962890625,"wires":[["dd742c6c.8d73b"]]},{"id":"b8e960fd.69d95","type":"function","z":"5f0066e9.096848","name":"VAR lum","func":"global.set(\"lum\",msg.payload)","outputs":"1","noerr":0,"x":1023.433349609375,"y":665.7052001953125,"wires":[[]]},{"id":"86384b1f.d273e8","type":"comment","z":"5f0066e9.096848","name":"Activation/Désactivation Lumiere automatique","info":"","x":164.7658920288086,"y":2599.6663846969604,"wires":[]},{"id":"9d968f56.09b71","type":"comment","z":"5f0066e9.096848","name":"Activer /Désactiver Lumière","info":"","x":1576.2891845703125,"y":180.03895568847656,"wires":[]},{"id":"1f90fb12.5362e5","type":"mqtt in","z":"5f0066e9.096848","name":"","topic":"hatem/chambre/lumiere","qos":"2","broker":"503eba71.19cac4","x":1571.765869140625,"y":313.9999084472656,"wires":[[]]},{"id":"503eba71.19cac4","type":"mqtt-broker","z":"","name":"Mosquito","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]